<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../dist/output.css">
  <title>100x Components</title>
</head>
<body class="p-3 w-screen min-h-screen overflow-y-auto bg-black flex justify-between items-start flex-wrap font-inter">
  <button
    class="w-88 py-2 px-6 rounded-signup-radius flex justify-center items-center gap-2.5 shadow-signup backdrop-blur-xl-1 bg-twitter-neutral-50 hover:bg-twitter-neutral-200 disabled:opacity-50 disabled:bg-twitter-neutral-50 disabled:hover:bg-twitter-neutral-50">
    <p class="text-black font-bold text-base leading-normal">
      Create account
    </p>
  </button>
  
  <button
    class="w-88 py-2 px-6 border border-border-color rounded-signup-radius flex justify-center items-center gap-2.5 shadow-signup backdrop-blur-xl-1">
    <p class="text-twitter-blue font-bold text-base leading-normal">
      Sign up
    </p>
  </button>

  <button
    class="w-[85px] py-2 px-5 rounded-twitter flex justify-center items-center gap-2.5 bg-twitter-neutral-50 hover:bg-twitter-neutral-200 disabled:bg-twitter-neutral-200 disabled:opacity-50">
    <p 
      class="text-black text-sm leading-normal font-bold">
      Follow
    </p>
  </button>

  <button
    class="w-[442px] py-3 px-6 flex justify-center items-center gap-2.5 rounded-signup-radius shadow-signup backdrop-blur-xl-1  bg-twitter-neutral-50 hover:bg-twitter-neutral-200 disabled:bg-twitter-neutral-200 disabled:opacity-50">
    <p class="text-black font-bold text-base leading-normal">
      Next
    </p>
  </button>
</body>
</html>