<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/output.css">
  <title>Document</title>
</head>
<body class="bg-[#40596A] p-4 flex flex-wrap gap-4 justify-center items-start font-inter">
  <div
    class="w-[512px] h-[355px] py-2.5 px-[15px] inline-flex flex-col justify-between items-center flex-shrink-0 rounded-2xl bg-black">
  </div>

  <div
    class="py-2.5 px-[15px] inline-flex flex-col items-start gap-3 rounded-2xl bg-black">
    <div
      class="w-[482px] py-3 px-4 flex items-center gap-5">
      <img class="flex-shrink-0" src="../public/images/card-x.svg" alt="x logo">

      <p class="text-[15px] text-twitter-neutral-50 font-bold leading-normal">Header</p>
    </div>

    <div
      class="h-[143px] p-5 pt-20 flex flex-col items-start gap-2.5 self-stretch">
    </div>
  </div>

  <div class="py-2.5 px-[15px] inline-flex flex-col items-start gap-3 rounded-2xl bg-black">
    <div class="w-[482px] py-3 px-4 flex items-center gap-5">
      <img class="flex-shrink-0" src="../public/images/card-x.svg" alt="x logo">
    </div>
  
    <div class="h-[143px] p-5 pt-20 flex flex-col items-start gap-2.5 self-stretch">
    </div>
  </div>
</body>
</html>