<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dist/output.css">
  <title>100x Components</title>
</head>
<body class="min-h-screen p-4 bg-[#040404] font-inter flex flex-wrap justify-around items-center gap-4">

  <div class="w-[426px] relative">
    <input class="peer w-[426px] py-4 pl-3 pr-9 border border-twitter-neutral-500 bg-[#040404] rounded-[4px] placeholder:text-twitter-neutral-500 text-twitter-neutral-50 text-xl leading-normal focus:outline-none focus:border-twitter-blue focus:ring-twitter-blue" placeholder="label" type="text">

    <div class="bg-[#040404] px-1  text-twitter-neutral-500 text-xs font-medium leading-normal absolute -top-2 left-4 peer-focus:text-twitter-blue">
      Label
    </div>

    <img src="../public/images/correct.svg" alt="correct-icon" class="hidden absolute top-1/2 right-3 -translate-y-1/2 peer-focus:block">
  </div>
  
  <div class="flex gap-3">
    <img src="../public/images/rahul.jpg" alt="user-profile" class="w-9 h-9 rounded-full">
    <input class="w-[434px] flex items-center self-stretch bg-[#040404] placeholder:text-twitter-neutral-600 text-twitter-neutral-50 text-xl leading-normal focus:outline-none" placeholder="What's happening?!" type="text">
  </div>

  <div class="relative w-[348px]">
    <input class="peer w-[348px] h-[39px] py-2.5 pl-[50px] pr-4 rounded-full  bg-searchbar-fill text-twitter-neutral-50 leading-normal placeholder:text-twitter-neutral-600 focus:outline-none border border-transparent focus:border-twitter-blue focus:ring-twitter-blue" placeholder="Search" type="text">

    <img src="../public/images/search.svg" alt="search-icon" class="peer absolute top-1/2 -translate-y-1/2 left-4 peer-focus:hidden">

    <img src="../public/images/search-focus.svg" alt="search-icon" class="peer hidden absolute top-1/2 -translate-y-1/2 left-4 peer-focus:block">
  </div>
</body>
</html>